<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abstract Learnings !</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      .heading {
        /* height: 100px; */
        font-size: 2rem;
        position: absolute;
        top: 20px;
        font-weight: 700;
        color: aqua;
      }
      body {
        overflow: hidden;
      }
    </style>
  </head>
  <body class="background">
    <h2 class="heading">Win your abstract art/monument 1</h2>
    <div id="particles-js"></div>

    <script src="https://unpkg.com/kaboom/dist/kaboom.js"></script>
    <script src="/index.js"></script>
    <form action="/sendsms" method="get" id="btn1" class="form">
      <button class="btn">NextLevel !</button>
    </form>

    <button disabled id="btn2" class="btn form2">
      <a href="http://localhost:3000/level1" target="_blank"
        >Get the abstract ART</a
      >
    </button>

    <script src="/particles.js-master/particles.js"></script>
    <script src="/particles.js-master/demo/js/app.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
  </body>
</html>
